@keyframes scroll-item {
    0% {opacity: 0;
        transform: translate(-50%, 0px);}
    50% {opacity: 1;}
    100% {opacity: 0;
        transform: translate(-50%, 100px);}
}

.scroller {
    /* animation-name: scroll;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    opacity: 1;
    width: 100%;
}

.scroll-item {
    font-size: 32px;
    opacity: 0;
    position: absolute;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;

    animation-name: scroll-item;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* @media (min-width: 480px) {
    .scroll-item {
        font-size: 16px;
        opacity: 0;
        position: absolute;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;

        animation-name: scroll-item;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }   

    .scroller {
        height: 90px;
        opacity: 1;
    }
} */

@media (min-width: 720px) {
    @keyframes scroll-item {
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 0;
            transform: translateY(100px);}
    }

    .scroll-item {
        font-size: 24px;
        opacity: 0;
        position: absolute;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
        width: unset;

        animation-name: scroll-item;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: 1;

        left: unset;
        -webkit-transform: unset;
        transform: unset;
    }   

    .scroller {
        margin-top: 20px;
        height: 50px;
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    @keyframes scroll-item {
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 0;
            transform: translateY(150px);}
    }

    .scroll-item {
        font-size: 52px;
        position: absolute;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
    
        animation-name: scroll-item;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }

    .scroller {
        height: 90px;
        opacity: 1;
    }
}