.github-icon:hover {
    opacity: 0.75;
}

@font-face {
    font-family: Roboto;
    src: url(font/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(font/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(font/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'SF Kingston Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF Kingston Regular'), url('font/SF Kingston.woff') format('woff');
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: Roboto;
    color: white;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    #header {
        background-attachment: initial !important;
    }
    #header .bottom-header h2 {
        font-size:66px;
    }
}

.projects {
}

.background_1 {
    background-color: #102027;
}

.nav-item-animate {}

.background_2 {
    /* background-color: #37474f; */
    margin-top: 5px;
    padding-bottom: 50px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    position: static;

    display: grid;
    grid-template-columns: 100%;
}

.header_grid_1 {
    z-index: -1;
    grid-column: 1 / 2;
}

.header_grid_2 {
    z-index: -1;
    grid-column: 1 / 2;
}

.light_header {
    opacity: 0;
    font-size: 0px;
}

.immovable {
    position: fixed;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("res/img/toronto.png");
    background-position: top;
    background-size: cover;
}

.headcon {
    border-style: solid;
    /* border-radius: 50%; */
    border-width: 2px;
    border-color: white;
    margin-top: 10px;
    width: 50%;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; */
}

.spacer {
    margin-bottom: 10px;
    height: 100%;
}

.namecon {
    margin-top: 20px;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'SF Kingston Regular';
    font-size: 96px;
}

.about_me_grid {
    padding-right: 5%;
    padding-left: 5%;
    grid-template-columns: 100%;
}

.projects_grid {
    padding-right: 5%;
    padding-left: 5%;
    grid-template-columns: 100%;
}

.projects_info_column {
    padding-bottom: 50px;
}

.blog_grid {
    padding-right: 20px;
    padding-left: 40px;
    grid-template-columns: 100%;
}

.about_me_subheading {}

.content_grid {
    display: grid;

    width: 100%;
    min-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #102027;
}

.linkbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.linkbox-item {
    box-shadow: inset 0px 0px 19px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
    width: 270px;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

.linkbox-item-text {
    border-radius: 5px;
    /* background-color: #0000004b; */
    color: white;
    text-decoration: none;
}

.subheading {
    font-family: Roboto-Light;
    text-align: center;
    font-size: 60px;
    padding-top: 50px;
    padding-right: 10px;
    margin-right: 10px;
}

.grid_info_column {
    font-family: Roboto;
    font-size: 20px;
    padding: 5px;
    padding-top: 50px;
}

.bottom_shadow {
    /* box-shadow: 0px 15px 10px -15px #111;     */
    background-color: #0c1a20;
    height: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.footer {
    background-color: #0c1a20;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Roboto-Light;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-out {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

.nav-item-animate {
    transform: rotate(0deg);
    transition: transform 1s ease-out;
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
}

.nav-item-animate-active {
    transform: rotate(90deg);
    transition: transform 1s ease-out;
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
}

.nav-icon-animate path:nth-child(2) {
    fill:none;
    stroke:#ffffff;
    stroke-width:3;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray: none;
    stroke-opacity:1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    /* animation: dash-out 4s ease-out forwards; */
    transition: stroke-dashoffset 1s ease-out;
    -webkit-transition: stroke-dashoffset 1s ease-out;
    -moz-transition: stroke-dashoffset 1s ease-out;
}

.nav-icon-animate-active path:nth-child(2) {
    /* animation: dash 4s ease-out forwards; */
    transition: stroke-dashoffset 1s ease-out;
    -webkit-transition: stroke-dashoffset 1s ease-out;
    -moz-transition: stroke-dashoffset 1s ease-out;
    stroke-dashoffset: 1000;
}

.navbar-button-david {
    display: unset;
    border-width: 0px;
    background-color: #00000000;
}

.navbar-inactive-icon {
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    transform: rotate(0deg);
}

.navbar-active-icon {
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    transform: rotate(90deg);
}

.navbar-button-david:hover {}

.navcollapse {}

.navopen {}

.slider {}

@media only screen and (min-width: 720px) {
    .grid_info_column {
        font-family: Roboto;
        font-size: 32px;
        padding: 20px;
        padding-top: 100px;
    }

    .navbar-button-david {
        display: none;
    }

    .light_header {
        font-family: Roboto-Light;
        vertical-align: center;
        text-align: right;
        font-size: 24px;
        margin-top: 85px;
        margin-right: 10px;
        opacity: 1;
    }

    .about_me_grid {
        grid-template-columns: 25% 75%;
    }
    
    .projects_grid {
        grid-template-columns: 25% 75%;
    }

    .blog_grid {
        grid-template-columns: 10% 90%;
    }

    .about_me_subheading {
        grid-row: 1 / 3;
    }

    .namecon {
        padding-left: 25px;
    }

    .nav-slider {
        position: absolute;
        display:block;
        left: 50%;
        top:90%;
        margin:0 auto;
        height: 2px;
        background-color: #f57c00;
        width: 0%;
        transition: all 0.25s ease;
    }

    .nav-item-animate {
        position:relative;
        display:inline-block;
        transition: all 0.25s ease-out;
    }

    .nav-item-animate:hover .nav-slider {
        left: 0px;
        width: 100%;
    }

    .nav-item-animate a {
        color: #ffffff !important;
        transition: all 0.25s ease-out;
    }

    .nav-item-animate:hover a {
        color: #e2e2e2 !important;
    }

    .subheading {
        font-family: Roboto-Light;
        text-align: right;
        font-size: 60px;
        padding-top: 100px;
        padding-right: 10px;
        margin-right: 10px;
    }

    .content_grid {
        min-height: 100%;
    }

    .grid_info_column {
        border-left-style: solid;
        border-left-color: #0c1a20;
        border-left-width: 2px;
        font-family: Roboto;
        font-size: 32px;
        padding: 20px;
        padding-top: 100px;
    }

    .headcon {
        width: 300px;
    }
}

@media only screen and (max-width: 992px) {
    .navcollapse {
        overflow-y: hidden;
        display: block;
        text-align: center;
    
        max-height: 0px;
        -webkit-transition: max-height 0.25s ease-out;
        -moz-transition: max-height 0.25s ease-out;
        -o-transition: max-height 0.25s ease-out;
        transition: max-height 0.25s ease-out;
    }
    
    .navopen {
        overflow-y: hidden;
        display: block;
        text-align: center;
    
        max-height: 500px;
        -webkit-transition: max-height 0.25s ease-out;
        -moz-transition: max-height 0.25s ease-out;
        -o-transition: max-height 0.25s ease-out;
        transition: max-height 0.25s ease-out;
    }

    .navbar {
        
    }
}

@media only screen and (min-width: 1200px) {
    .background_2 {
        /* background-color: #37474f; */
        margin-top: 5px;
        padding-bottom: 50px;
        padding-top: 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 75%;
        position: static;
    
        display: grid;
        grid-template-columns: 25% 25% 50%;
    }
    
    .header_grid_1 {
        grid-row: 1 / 3;
        grid-column: unset;
        z-index: -1;
    }
    
    .header_grid_2 {
        grid-column: 2 / 4;
    }

    .light_header {
        font-family: Roboto-Light;
        vertical-align: center;
        text-align: right;
        font-size: 52px;
        margin-top: 85px;
        margin-right: 10px;
        opacity: 1;
    }    

    .immovable {
        position: fixed;
        top: 0%;
        width: 100%;
        height: 100%;
        padding-top: 15%;
        z-index: -1;
    }

    .about_me_grid {
        grid-template-columns: 25% 75%;
    }
    
    .projects_grid {
        grid-template-columns: 25% 75%;
    }

    .about_me_subheading {
        grid-row: 1 / 3;
    }

    .subheading {
        font-family: Roboto-Light;
        text-align: right;
        font-size: 60px;
        padding-top: 100px;
        padding-right: 10px;
        margin-right: 10px;
    }

    .content_grid {
        min-height: 100%;
    }
}

.menu {
    background-color: #62727b;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0px;
}

.link-david {
    font-family: Roboto;
    text-decoration: underline;
    color: white;
}

.link-david:hover {
    background-color: #1f343d;
    border-radius: 5px;
    color: white;
}

.orange-text {
    color: #f57c00;
    display: inline;
}

.emphasize {
    color: #f57c00;
    font-style: italic;
    display: inline;
}
