.github-icon:hover {
    opacity: 0.75;
}

@media only screen and (max-width: 768px) {
    #header {
        background-attachment: initial !important;
    }
    #header .bottom-header h2 {
        font-size:66px;
    }
}